<div class="flex relative gap-4">
  <app-chess-board></app-chess-board>
  <div
    class="flex flex-col w-full rounded-lg bg-gray-400 top-0 right-0 left-0 gap-4 justify-between border border-black">
    <div class="bg-gray-600 rounded-t-lg p-4">
      Testing
    </div>
    <div class="p-4">
      {{ player }}
    </div>
    <div class="flex bg-white rounded-b-lg p-4 justify-between">
      <button class="transparent-buttons w-12 h-12">
        <img src="assets/arrow-left.svg" alt="Left Arrow" (click)="undo()"/>
      </button>
      <button class="transparent-buttons w-12 h-12">
        <img class="w-24 h-12" src="assets/arrow-right.svg" alt="Right Arrow"/>
      </button>
      <button class="transparent-buttons w-12 h-12">
        <img class="w-24 h-12" src="assets/arrow-right.svg" alt="Right Arrow" (click)="getPlayer()"/>
      </button>
      <button class="transparent-buttons w-12 h-12">
        <img class="w-24 h-12" src="assets/arrow-path-square.svg" alt="Revolving Square Arrows" (click)="reverse()"/>
      </button>
      <button class="text-[14px] leading-4 reset-button-colors buttons w-24 h-12 justify-end" (click)="resetBoard()">
        Reset Button
      </button>
    </div>
  </div>
</div>
